<!DOCTYPE html>
<html>
<title>World Weather Forecast</title>

<!-- {{> stylerefs}} -->

<style>
  body {
    background-color: #43f652;
  }
</style>
{{> navbar}}


<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="Newmain">
  <img class="w3-image" src="/w3images/.jpg" alt="img" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Wopla Weather Forecast</h1>
  </div>
</header>



<!-- About Wopla Section -->
<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <!-- <img src="./rain.jpeg" class="w3-round w3-image w3-opacity-min" alt="abt pic" width="600" height="750"> -->
    <h1 class="w3-center">World Weather Forecast</h1>
    <br>
  </div>

  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center">Get to know about World Weather Forecast</h1>
    <br>
    <h5 class="w3-center">While searching for your weather</h5>
    <p class="w3-large">Since eveyone want to go out and have some fun, bad weather always makes us down. Why? Because people need to travel
      to go for beach as an example and if it's rain, the whole plan just spoiled. So ! there comes World Weather Forecast
      to help you all. You just only need to the weather search tan and there you are able to see the current weather of
      a place. Also, the temperature and a little summary on humidity of the place.
      <span class="w3-tag w3-light-grey">
    </p>
  </div>
</div>

<hr>

<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
  <div class="w3-col l6 w3-padding-large">
    <h1 class="w3-center">Safety tips for drivering safely during rain</h1>
    <br>
    <h4>Number 1. Think</h4>
    <p class="w3-text-black"> "Many people drive subconsciously, out of habit," says World Weather Forecast. "And when it rains, they often don't adjust
      their thinking." When conditions are less than ideal, drivers need to stay alert and focused on what's going on around
      them.</p>
    <br>

    <h4>Number 2. Turn on those headlights</h4>
    <p class="w3-text-black">It's the law in all states to turn on headlights when visibility is low, and many states also require having the headlights
      on when the windshield wipers are in use. Praeter says that well-working wipers and relatively new (not threadbare)
      tires also are must-haves when driving in rain.</p>
    <br>

    <h4>Number 3. Beware of hydroplaning </h4>
    <p class="w3-text-black">That's the technical term for what occurs when your tires are getting more traction on the layer of water on the road
      than on the road itself—the result is that your car begins to slide uncontrollably. It's easy enough to hydroplane:
      All you need is one-twelfth of an inch of rain on the road and a speed of more than 35 miles per hour. If you start
      to hydroplane, let off the accelerator slowly and steer straight until you regain control.</p>
    <br>

    <h4>Number 4. Turn off cruise control </h4>
    <p class="w3-text-black">Ironically, on rain- or snow- slick surfaces, cruise control may cause you to lose control. You might think it'll help
      you stay at one steady speed, but if you hydroplane while you're in cruise control, your car will actually go faster.</p>
    <br>

    <h4>Number 5. Slow down</h4>
    <p class="w3-text-black">"Speed limit signs are designed for ideal conditions, says World Weather Forecast, 'and that means driving when you have
      little traffic and good visibility." That's hardly the environment you're driving in when it's raining, so let up on
      the accelerator and allow more time to get to your destination.</p>
  </div>

  <div class="w3-col l6 w3-padding-large">
    <!-- <img src="./rainy.png" class="w3-round w3-image w3-opacity-min" alt="tips pic" style="width:100%"> -->

  </div>
</div>

<hr>



<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by
    <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a>
  </p>
</footer>

</body>

</html>